---
libraries:
 - fontawesome
 - d3js
 - vuejs
 - bootstrap
title: "Graphs"
---
<!DOCTYPE html>
<html>
  <head>
    {% include html-head.html %}
  </head>
  <body>
    {% include navbar-preview.html %}

    <div class="container">
      <h1>Graphs</h1>
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div id="my-dataviz" class="card-img-top" alt="...">
              <img src="/img/sample-donut.jpg" class="img-fluid">
              <!-- <svg id="school-status-donut" viewBox="0 0 200 200"></svg> -->
            </div>
            <div class="card-body">
              <h5 class="card-title">School Status</h5>
              <p class="card-text">Of the countries for which we have data, how many schools are closed, on extended break, or open?</p>
            </div>
          </div>  
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div id="my-dataviz" class="card-img-top" alt="...">
              <img src="/img/sample-donut.jpg" class="img-fluid">
              <!-- <svg id="school-status-donut" viewBox="0 0 200 200"></svg> -->
            </div>
            <div class="card-body">
              <h5 class="card-title">Education Modalities</h5>
              <p class="card-text">Of the countries for which we have data, how many schools are remote, hybrid, or in-person?</p>
            </div>
          </div>  
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div id="my-dataviz" class="card-img-top" alt="...">
              <img src="/img/sample-donut.jpg" class="img-fluid">
              <!-- <svg id="school-status-donut" viewBox="0 0 200 200"></svg> -->
            </div>
            <div class="card-body">
              <h5 class="card-title">Teacher Vaccinations</h5>
              <p class="card-text">Of the countries for which we have data, in how many are teachers eligible for COVID-19 vaccinations?</p>
            </div>
          </div>  
        </div>
  
      </div>
    </div>

    <script>
      const prepareData = (countries) => {
        countries.sort((country1, country2) => {
          return country1.fields.countryName.localeCompare(country2.fields.countryName)
        });
        const schoolStatusStats = {open: 0, closed: 0, extendedBreak: 0}
        const educationModalityStats = {none: 0, remote: 0, hybrid: 0, inPerson: 0, other: 0, multiple: 0}
        const vaccineStats = {yes: 0, no: 0, other: 0, unknown: 0}
        let totalResponses = 0
        for (country of countries) {
          if (country.fields.mostRecentResponseDate) {
            totalResponses++
            if (country.fields.mostRecentEducationStatusCode && (country.fields.mostRecentEducationStatusCode.includes('2') || country.fields.mostRecentEducationStatusCode.includes('3') || country.fields.mostRecentEducationStatusCode.includes('4'))) {
              schoolStatusStats.open++
            } else if (country.fields.mostRecentExtendedBreakCode && country.fields.mostRecentExtendedBreakCode.includes('1')) {
              schoolStatusStats.extendedBreak++;
            } else if (country.fields.mostRecentEducationStatusCode && country.fields.mostRecentEducationStatusCode.includes('1')) {
              schoolStatusStats.closed++;
            }
          }
          if (country.fields.mostRecentEducationStatusCode) {
            if (country.fields.mostRecentEducationStatusCode.length > 1) {
              educationModalityStats.multiple++;
            }
            if (country.fields.mostRecentEducationStatusCode.includes('1')) {educationModalityStats.none++}
            if (country.fields.mostRecentEducationStatusCode.includes('2')) {educationModalityStats.remote++}
            if (country.fields.mostRecentEducationStatusCode.includes('3')) {educationModalityStats.hybrid++}
            if (country.fields.mostRecentEducationStatusCode.includes('4')) {educationModalityStats.inPerson++}
            if (country.fields.mostRecentEducationStatusCode.includes('5')) {educationModalityStats.other++}
          }
          if (country.fields.mostRecentVaccineAvailabilityForTeachersCode) {
            if (country.fields.mostRecentVaccineAvailabilityForTeachersCode.includes('1')) {vaccineStats.yes++}
            if (country.fields.mostRecentVaccineAvailabilityForTeachersCode.includes('2')) {vaccineStats.no++}
            if (country.fields.mostRecentVaccineAvailabilityForTeachersCode.includes('3')) {vaccineStats.other++}
            if (country.fields.mostRecentVaccineAvailabilityForTeachersCode.includes('4')) {vaccineStats.unknown++}
          }
        }
        return {countries: countries, schoolStatusStats: schoolStatusStats, educationModalityStats: educationModalityStats, vaccineStats: vaccineStats, totalResponses: totalResponses}
      }

      const getDataStructureFromObject = (object) => {
        if (object) {
          result = []
          Object.keys(object).forEach((key) => {
            result.push({name: key, value: object[key]})
          })
          return result
        }
        return null
      }

      const renderData = (data) => {

        newData = prepareData(data);
        console.log(newData);

        const pieData = getDataStructureFromObject(newData.schoolStatusStats);

        let colors = ['red','yellow','green','blue'];
        
        let generator = d3.pie()
          .sort(null);

        let chart = generator(pieData);

        let arcs = d3.select("#school-status-donut")
          .append("g")
          // .attr("transform", "translate(100, 100)")
          .selectAll(".arc")
          .data(chart)
          .enter()
          .append("path")
          .style("fill", (d, i) => colors[i]);
        arc = d3.arc()
          .innerRadius(210)
          .outerRadius(310)
          .startAngle(([startAngle, endAngle]) => startAngle)
          .endAngle(([startAngle, endAngle]) => endAngle)

        // data = [
        //   {name: "test", value: 20},
        //   {name: "test2", value: 40},
        //   {name: "test3", value: 60},
        //   {name: "test4", value: 80},
        //   {name: "test5", value: 120}
        // ];
        // width = 286;

        // x = d3.scaleLinear()
        //   .domain([0, d3.max(data, d => d.value)])
        //   .range([0, width])

        // y = d3.scaleBand()
        //   .domain(data.map(d => d.name))
        //   .range([0, 20 * data.length])
        
        // const svg = d3.create("svg")
        //   .attr("width", width)
        //   .attr("height", y.range()[1])
        //   .attr("font-family", "sans-serif")
        //   .attr("font-size", "10")
        //   .attr("text-anchor", "end");

        // const bar = svg.selectAll("g")
        //   .data(data)
        //   .join("g")
        //     .attr("transform", d => `translate(0,${y(d.name)})`);

        // bar.append("rect")
        //     .attr("fill", "steelblue")
        //     .attr("width", d => x(d.value))
        //     .attr("height", y.bandwidth() - 1);

        // bar.append("text")
        //     .attr("fill", "white")
        //     .attr("x", d => x(d.value) - 3)
        //     .attr("y", y.bandwidth() / 2)
        //     .attr("dy", "0.35em")
        //     .text(d => d.value);


        // document.getElementById('my-dataviz').appendChild(svg.node());

      }

      // if we have a token, use it to call the api, otherwise redirect to login screen
      const dataSource = 'https://jhu-education-dashboard-beta.herokuapp.com/countries';
      if (JwtManager.token) {
        fetch(dataSource, {headers: {'Authorization': `Bearer ${JwtManager.token}`}})
          .then(response => {
            switch (response.status) {
              case 200:
                // huzzah we have the data
                response.json().then(data => renderData(data));
                break;
              case 403: 
                // denied because of invalid token
                window.location = '/login';
                break;
              default:
            }
          })
          .catch(error => {
            document.getElementById(`loading`).innerText = "Error loading the data. We apologize for the inconvenience; please try again later.";
            console.error(error);
          })
      } else {
        window.location = '/login';
      }
    </script>
  </body>
</html>