---
---
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Missing countries</title>
    {% if site.safe == true %}
    <script src="/global-tracker/js/vue.min.js" type="text/javascript"></script>
    <link href="/global-tracker/css/all.min.css" rel="stylesheet">
    {% else %}
    <script src="/global-tracker/js/vue.js" type="text/javascript"></script>
    <link href="/global-tracker/css/all.css" rel="stylesheet">
    {% endif %}
    <script type="text/javascript">
      {% include global-tracker/utils.js %}
    </script>
    <style>
      table {border: 1px solid gray;}
      [v-cloak] {display: none;}
      button {border: none; border-radius: 5px; background-color: blue; color: white; padding: 5px}
      button:active {background-color: #4040FF}
    </style>
  </head>
  <body>
    <div id="vue-app" v-cloak>
      <p>
        Show countries without a response since 
        ${filterDate | renderDate}
        <button onclick="vm.$data.filterDate = new Date('2021-01-24T00:00:00.000Z')">|&lt;</button>
        <button onclick="vm.$data.filterDate = new Date(vm.$data.filterDate.valueOf() - 864E5)">&lt;</button>
        <button onclick="vm.$data.filterDate = new Date(vm.$data.filterDate.valueOf() + 864E5)">&gt;</button>
        <button onclick="vm.$data.filterDate = new Date(new Date().setHours(0,0,0,0))">Today</button>
      </p>
      <p>Displaying <span id="tablerowcount"></span> countries. <button onclick="navigator.clipboard.writeText(document.querySelector('table').innerText)">Copy list</button></p>
      <table>
        <thead>
          <th>Country Name</th>
          <th>Country Code (WB)</th>
          <th>Country Code (UNICEF)</th>
          <th>Responsible Organization</th>
          <th>World Bank Region</th>
          <th>Most Recent Response Date</th>
        </thead>
        <tbody>
          <tr v-for="country in countries" v-if="!country.mostRecentResponseDate || filterDate > country.mostRecentResponseDate">
            <td>${country.fields.countryName}</td>
            <td>${country.fields.wbCountryCode}</td>
            <td>${country.fields.m49code}</td>
            <td>${country.fields.responsibleOrganization}</td>
            <td>${country.fields.wbRegion}</td>
            <td>${country.mostRecentResponseDate | renderDate}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script>
      // replaces all the date values in country.fields.responseDates with the numeric equivalent
      // and adds a country.mostRecentResponseDate with the most recent date
      const convertCountryDatesAndSetMostRecentResponseDate = (countries) => {
        for (country of countries) {
          if (country.fields.responseDates) {
            country.fields.responseDates.forEach((responseDate, i, responseDates) => {
              responseDates[i] = Date.parse(responseDate);
            });
            country.mostRecentResponseDate = Math.max(...country.fields.responseDates)
          }
        }
        return countries;
      }

      const updateListCounts = () => {
        document.getElementById('tablerowcount').innerText = document.querySelectorAll('table tr').length.toString();
      }

      const renderData = (data) => {

        const vueData = {
          filterDate: (new Date('2021-02-17T00:00:00.000Z')),
          countries: convertCountryDatesAndSetMostRecentResponseDate(data)
        }
        vm = new Vue({
          el: '#vue-app',
          data: vueData,
          delimiters: ['${','}'],  // need to use these because jekyll competes for {{ and }}
          filters: {
            renderDate: (value) => {
              if (value) {
                return (new Date(value)).toJSON()
              }
              return ''
            }
          },
          mounted: () => {
            updateListCounts();
          },
          updated: () =>  {
            vm.$nextTick(() => {
              updateListCounts();
            })
          }
        });
      }

      {% if site.safe == true %}
      const dataSource = 'https://jhu-education-dashboard-beta.herokuapp.com/countries';
      {% else %}
      const dataSource = 'https://jhu-education-dashboard-beta.herokuapp.com/countries';
      {% endif %}

      // if we have a token, use it to call the api, otherwise redirect to login screen
      if (JwtManager.token) {
        fetch(dataSource, {headers: {'Authorization': `Bearer ${JwtManager.token}`}})
          .then(response => {
            switch (response.status) {
              case 200:
                // huzzah we have the data
                response.json().then(data => renderData(data));
                break;
              case 403: 
                // denied because of invalid token
                window.location = '/login'
                break;
              default:
            }
          })
          .catch(error => {
            console.error(error)
          })
      } else {
        window.location = '/login'
      }
    </script>

    </script>
  </body>
</html>