<nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/public-preview/">Global Education Dashboard <sup><span class="badge bg-warning text-dark">Preview</span></sup></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/public-preview/">Stories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/public-preview/maps/">Maps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/public-preview/graphs/">Graphs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/public-preview/country-list/">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Methodology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Disclaimer</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
