---
---
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>

    {% if site.safe == true %}
    <script src="/js/vue.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/all.min.css" rel="stylesheet">
    {% else %}
    <script src="/js/vue.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link href="/css/all.css" rel="stylesheet">
    {% endif %}
    <title>Global Survey Response Dashboard</title>
    <style>
      [v-cloak], .hidden {display: none;}
      svg {fill: #DDDDDD}
      {% include worldmap.css %}
      .landxx:hover {opacity: 0.9; transition: opacity 0.25s linear;}
      .modality-in-person {fill: #1A49BF;}
      .modality-hybrid-remote {fill: #2361FF;}
      .modality-multiple {fill: #4F81FF;}
      .modality-covid-closure {fill: #7BA0FF;}
      .modality-extended-break {fill: #A7C0FF;}
      .modality-no-data {fill: #DDDDDD;}

      .vaccine-yes {fill: #FF9100;}
      .vaccine-other {fill: #FFBD66}
      .vaccine-no {fill: #FFD399;}
      .map-key {display: flex; flex-flow: row nowrap; align-items: center; justify-content: center; font-size: small;}
      .map-key-color {height: 2rem; width: 2rem; margin: 0.2rem;}

</style>
    <script type="text/javascript">
      {% include utils.js %}
    </script>
  </head>
  <body>
    {% include navbar-preview.html %}

    <div id="vue-app" class="container mb-5">
      <h1>Global maps</h1>
      <div class="row text-center my-3">
        <h2>Education Modality</h2>
        <p>How is education being provided in each country?</p>
        <div id="modality-map"></div>
        <div class="map-key w-100 my-3">
          <div class="map-key-item mx-1 d-flex flex-row align-items-center justify-content-start">
            <svg class="modality-in-person map-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg>
            In-person
          </div>
          <div class="map-key-item mx-1 d-flex flex-row align-items-center justify-content-start">
            <svg class="modality-hybrid-remote map-key-color"viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg>
            Hybrid / remote
          </div>
          <div class="map-key-item mx-1 d-flex flex-row align-items-center justify-content-start">
            <svg class="modality-multiple map-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg>
            Mixed / multiple
          </div>
          <div class="map-key-item mx-1 d-flex flex-row align-items-center justify-content-start">
            <svg class="modality-covid-closure map-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg>
            Closed due to COVID-19
          </div>
          <div class="map-key-item mx-1 d-flex flex-row align-items-center justify-content-start">
            <svg class="modality-extended-break map-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg>
            Extended break / holiday
          </div>
          <div class="map-key-item mx-1 d-flex flex-row align-items-center justify-content-start">
            <svg class="modality-no-data map-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg>
            Unknown / no data
          </div>
        </div>  
      </div>
      <div class="row text-center my-3">
        <h2>Vaccine Availability for Teachers</h2>
        <p>Are some or all teachers/school staff currently being vaccinated as a priority group?</p>
        <div id="vaccine-map"></div>
        <div class="map-key w-100 my-3">
          <div class="map-key-item mx-1 d-flex flex-row align-items-center justify-content-start">
            <svg class="vaccine-yes map-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg>
            Available
          </div>
          <div class="map-key-item mx-1 d-flex flex-row align-items-center justify-content-start">
            <svg class="vaccine-other map-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg>
            Other
          </div>
          <div class="map-key-item mx-1 d-flex flex-row align-items-center justify-content-start">
            <svg class="vaccine-no map-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg>
            Not available
          </div>
          <div class="map-key-item mx-1 d-flex flex-row align-items-center justify-content-start">
            <svg class="vaccine-unknown map-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg>
            Unknown / no data
          </div>
        </div>  
      </div>
    </div>

    <div class="hidden">
      {% include worldmap-no-titles.svg %}
    </div>
    <div id="maphover" class="hidden">
      <div v-if="selectedCountry">
        <div><span style="font-size: x-large">${selectedCountry.fields.countryName}</span> (As of ${selectedCountry.fields.mostRecentResponseDate | iso8601ToLocaleDateString})</div>
        <div v-if="selectedCountry.fields.owidHasVaccine">Has authorized one or more COVID-19 vaccines</div>
        <div v-else>Has not authorized any COVID-19 vaccines</div>
      </div>
    </div>

    <script>

      const map = document.getElementById('svg-worldmap')
      const modalityMap = map.cloneNode(true);
      modalityMap.id = 'modality-map-svg';
      const vaccineMap = map.cloneNode(true);
      vaccineMap.id = 'vaccine-map-svg';
      document.getElementById('modality-map').appendChild(modalityMap);
      document.getElementById('vaccine-map').appendChild(vaccineMap);

      const prepareData = (countries) => {
        countries.sort((country1, country2) => {
          return country1.fields.countryName.localeCompare(country2.fields.countryName)
        });

        for (const country of countries) {
          if (country.fields.mostRecentExtendedBreakCode && country.fields.mostRecentExtendedBreakCode.includes('1')) {
            country.modalityMapClass = 'modality-extended-break';
            country.modalityText = "Extended break / holiday";
          } else if (country.fields.mostRecentEducationStatusCode) {
            if (country.fields.mostRecentEducationStatusCode.length > 1) {
              country.modalityMapClass = 'modality-multiple';
              country.modalityText = "Mixed / Multiple";
            } else if (country.fields.mostRecentEducationStatusCode.includes('1')) {
              country.modalityMapClass = 'modality-covid-closure';
              country.modalityText = "Closed to due COVID-19";
            } else if (country.fields.mostRecentEducationStatusCode.includes('2') || country.fields.mostRecentEducationStatusCode.includes('3')) {
              country.modalityMapClass = 'modality-hybrid-remote';
              country.modalityText = 'Hybrid / remote';
            } else if (country.fields.mostRecentEducationStatusCode.includes('4')) {
              country.modalityMapClass = 'modality-in-person';
              country.modalityText = 'In person';
            }
          } else {
            country.modalityText = 'Unknown / no data';
          }
        }
        return {countries: countries}
      }

      const renderData = (data) => {

        newData = prepareData(data);


        for (const country of newData.countries) {
          if (country.fields.mostRecentResponseDate) {
            if (country.fields.iso3166Alpha2Code) {
              const modalityMapCountryNode = modalityMap.querySelector(`#${country.fields.iso3166Alpha2Code.toLowerCase()}`);
              const vaccineMapCountryNode = vaccineMap.querySelector(`#${country.fields.iso3166Alpha2Code.toLowerCase()}`);
              if (modalityMapCountryNode) {
                modalityMapCountryNode.classList.add(country.modalityMapClass);
              }
              if (country.fields.mostRecentVaccineAvailabilityForTeachersCode) {
                if (country.fields.mostRecentVaccineAvailabilityForTeachersCode.includes('1')) {
                  vaccineMapCountryNode.classList.add('vaccine-yes');
                } else if (country.fields.mostRecentVaccineAvailabilityForTeachersCode.includes('2')) {
                  vaccineMapCountryNode.classList.add('vaccine-no');
                } else if (country.fields.mostRecentVaccineAvailabilityForTeachersCode.includes('3')) {
                  vaccineMapCountryNode.classList.add('vaccine-other');
                } else if (country.fields.mostRecentVaccineAvailabilityForTeachersCode.includes('4')) {
                  vaccineMapCountryNode.classList.add('vaccine-unknown');
                }
              }
            }
          }
        }
      }

      // if we have a token, use it to call the api, otherwise redirect to login screen
      const dataSource = 'https://jhu-education-dashboard-beta.herokuapp.com/countries';
      if (JwtManager.token) {
        fetch(dataSource, {headers: {'Authorization': `Bearer ${JwtManager.token}`}})
          .then(response => {
            switch (response.status) {
              case 200:
                // huzzah we have the data
                response.json().then(data => renderData(data));
                break;
              case 403: 
                // denied because of invalid token
                window.location = '/login';
                break;
              default:
            }
          })
          .catch(error => {
            document.getElementById(`loading`).innerText = "Error loading the data. We apologize for the inconvenience; please try again later.";
            console.error(error);
          })
      } else {
        window.location = '/login';
      }
    </script>
  </body>
</html>