---
libraries:
 - vuejs
 - fontawesome
 - bootstrap
 - tippy
title: "Maps"
---
<!DOCTYPE html>
<html>
  <head>
    {% include html-head.html %}
    <style>
      svg {fill: #DDDDDD}
      {% include worldmap.css %}
      .landxx:hover {opacity: 0.9; transition: opacity 0.25s linear;}
      .modality-in-person {fill: #1A49BF;}
      .modality-hybrid-remote {fill: #26B1FF;}
      .modality-multiple {fill: #FFA733;}
      .modality-extended-break {fill: #A7FFE6;}
      .modality-covid-closure {fill: #C7A7FF;}
      .modality-no-data {fill: #DDDDDD;}

      .vaccine-yes {fill: #1A49BF;}
      .vaccine-other {fill: #FFBD66}
      .vaccine-no {fill: #FFD399;}
      .map-key {max-width: 600px; margin: auto; font-size: smaller;}
      /* .map-key {display: flex; flex-flow: row nowrap; align-items: center; justify-content: center; font-size: small;} */
      .map-key-color {height: 2rem; width: 2rem; margin: 0.2rem;}
      .hidden {display: none;}
    </style>
  </head>
  <body>
    {% include navbar-preview.html %}

    <div id="vue-app" class="container mb-5">
      <h1>Global maps</h1>
      <div class="row text-center my-3">
        <h2>Education Modality</h2>
        <p>How is education being provided by country?</p>
        <div id="modality-map"></div>
        <div class="map-key w-100 my-3">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" colspan="2">Legend</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><svg class="modality-in-person map-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
                <td class="text-start"><strong>In-person education</strong>: Schools are open, and students have returned for in-person instruction.</td>
              </tr>
              <tr>
                <td><svg class="modality-hybrid-remote map-key-color"viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
                <td class="text-start"><strong>Hybrid/remote education</strong>:	Schools are open combining remote learning and in-person instruction and/or students are exclusively learning remotely.</td>
              </tr>
              <tr>
                <td><svg class="modality-multiple map-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
                <td class="text-start"><strong>Mixed/multiple</strong>:Schools are operating with a combination of the following: in-person, hybrid, remote, and closed due to COVID-19</td>
              </tr>
              <tr>
                <td><svg class="modality-extended-break map-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
                <td class="text-start"><strong>Extended Break</strong>: Schools are closed due to a  regular school calendar closure (e.g., holiday)</td>
              </tr>
              <tr>
                <td><svg class="modality-covid-closure map-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
                <td class="text-start"><strong>No instruction/closed due to COVID-19</strong>:	Schools are closed due to COVID-19, and no education services currently available.</td>
              </tr>
              <tr>
                <td><svg class="modality-no-data map-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
                <td class="text-start"><strong>Unknown/Data Not Available</strong>: Unable to obtain information through publicly available data.</td>
              </tr>
            </tbody>
          </table>
        </div>  
      </div>
      <div class="row text-center my-3">
        <h2>Vaccine Availability for Teachers</h2>
        <p>Are some or all teachers/school staff currently being vaccinated as a priority group?</p>
        <div id="vaccine-map"></div>
        <div class="map-key w-100 my-3">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" colspan="2">Legend</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><svg class="vaccine-yes map-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
                <td class="text-start"><strong>Yes</strong></td>
              </tr>
              <tr>
                <td><svg class="vaccine-no map-key-color"viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
                <td class="text-start"><strong>No</strong></td>
              </tr>             
              <tr>
                <td><svg class="vaccine-unknown map-key-color"viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
                <td class="text-start"><strong>Unknown/Data Not Available</strong></td>
              </tr>
            </tbody>
          </table>
        </div>  
      </div>
    </div>

    <div class="hidden">
      {% include worldmap-no-titles.svg %}
    </div>
    <div id="maphover" class="hidden">
      <div v-if="selectedCountry">
        <div><span style="font-size: x-large">${selectedCountry.fields.countryName}</span> (As of ${selectedCountry.fields.mostRecentResponseDate | iso8601ToLocaleDateString})</div>
        <div v-if="selectedCountry.fields.owidHasVaccine">Has authorized one or more COVID-19 vaccines</div>
        <div v-else>Has not authorized any COVID-19 vaccines</div>
      </div>
    </div>

    <script>

      const map = document.getElementById('svg-worldmap')
      const modalityMap = map.cloneNode(true);
      modalityMap.id = 'modality-map-svg';
      const vaccineMap = map.cloneNode(true);
      vaccineMap.id = 'vaccine-map-svg';
      document.getElementById('modality-map').appendChild(modalityMap);
      document.getElementById('vaccine-map').appendChild(vaccineMap);

      const prepareData = (countries) => {
        countries.sort((country1, country2) => {
          return country1.fields.countryName.localeCompare(country2.fields.countryName)
        });

        for (const country of countries) {
          if (country.fields.mostRecentExtendedBreakCode && country.fields.mostRecentExtendedBreakCode.includes('1')) {
            country.modalityMapClass = 'modality-extended-break';
            country.modalityText = "Extended break / holiday";
          } else if (country.fields.mostRecentEducationStatusCode) {
            if (country.fields.mostRecentEducationStatusCode.length > 1) {
              country.modalityMapClass = 'modality-multiple';
              country.modalityText = "Mixed / Multiple";
            } else if (country.fields.mostRecentEducationStatusCode.includes('1')) {
              country.modalityMapClass = 'modality-covid-closure';
              country.modalityText = "Closed to due COVID-19";
            } else if (country.fields.mostRecentEducationStatusCode.includes('2') || country.fields.mostRecentEducationStatusCode.includes('3')) {
              country.modalityMapClass = 'modality-hybrid-remote';
              country.modalityText = 'Hybrid / remote';
            } else if (country.fields.mostRecentEducationStatusCode.includes('4')) {
              country.modalityMapClass = 'modality-in-person';
              country.modalityText = 'In person';
            }
          } else {
            country.modalityText = 'Unknown / no data';
          }
        }
        return {countries: countries}
      }

      const renderData = (data) => {

        newData = prepareData(data);


        for (const country of newData.countries) {
          if (country.fields.mostRecentResponseDate) {
            if (country.fields.iso3166Alpha2Code) {
              const modalityMapCountryNode = modalityMap.querySelector(`#${country.fields.iso3166Alpha2Code.toLowerCase()}`);
              const vaccineMapCountryNode = vaccineMap.querySelector(`#${country.fields.iso3166Alpha2Code.toLowerCase()}`);
              if (modalityMapCountryNode) {
                modalityMapCountryNode.classList.add(country.modalityMapClass);
              }
              if (country.fields.mostRecentVaccineAvailabilityForTeachersCode) {
                if (country.fields.mostRecentVaccineAvailabilityForTeachersCode.includes('1')) {
                  vaccineMapCountryNode.classList.add('vaccine-yes');
                } else if (country.fields.mostRecentVaccineAvailabilityForTeachersCode.includes('2')) {
                  vaccineMapCountryNode.classList.add('vaccine-no');
                } else if (country.fields.mostRecentVaccineAvailabilityForTeachersCode.includes('4')) {
                  vaccineMapCountryNode.classList.add('vaccine-unknown');
                }
              }
            }
          }
        }
      }

      // if we have a token, use it to call the api, otherwise redirect to login screen
      const dataSource = 'https://jhu-education-dashboard-beta.herokuapp.com/countries';
      if (JwtManager.token) {
        fetch(dataSource, {headers: {'Authorization': `Bearer ${JwtManager.token}`}})
          .then(response => {
            switch (response.status) {
              case 200:
                // huzzah we have the data
                response.json().then(data => renderData(data));
                break;
              case 403: 
                // denied because of invalid token
                window.location = '/login';
                break;
              default:
            }
          })
          .catch(error => {
            document.getElementById(`loading`).innerText = "Error loading the data. We apologize for the inconvenience; please try again later.";
            console.error(error);
          })
      } else {
        window.location = '/login';
      }
    </script>
  </body>
</html>